﻿@model IEnumerable<mvc_SoccerLigas.Models.Ligues>

@{
    ViewBag.Title = "Index";

}

<h2>Index</h2>

<div class="panel panel-default">
    <div class="panel-heading">Detalles Ligas Internacionales</div>
    <div class="panel-body">
        @Html.DropDownList("DropDownValues", ViewBag.DropDownValues as SelectList, "Selecciona una Liga", new { @class = "form-control dropdown" })
    </div>
    <div class="panel-body">
        <div id="tbl_matches"></div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        $(".mod").click(function () {

            $("#myModal").modal('show');

        });

    });
    $(document).ready(function () {


        $("#DropDownValues").change(function () {
            var a = $("#DropDownValues Option:Selected").val();

            $.ajax(
                {
                    type: "GET",
                    contentType: "application/json;charset=utf-8",
                    url: "/Ligue/GetDetailsLiga?pId=" + a,
                    dataType: "json",
                    success: function (data) {
                        var tabla = "<table class='table table-bordered table-condensed table-hover table-responsive table-striped text-primary'><tr>"
                        tabla += "<th>Equipo Local</th>"
                        tabla += "<th>Score</th>"
                        tabla += "<th>Equipo Visitante</th>"
                        tabla += "<th>Fecha</th>"
                        tabla += "<th>Hora</th>"
                        tabla += "</tr>"
                        var len = data.SLigue.length;
                        for (var i = 0; i < len ; i++) {
                            tabla += "<tr>";
                            tabla += "<td><a id=id_" + data.SLigue[i].LTeam + "data-toggle='modal' data-target='#myModal' role='button' class='mod'>" + data.SLigue[i].LTeam + "</a></td>"
                            tabla += "<td>" + data.SLigue[i].ftScore + "</td>"
                            tabla += "<td><a id=id_" + data.SLigue[i].VTeam + ">" + data.SLigue[i].VTeam + "</a></td>"
                            tabla += "<td>" + data.SLigue[i].formatted_date + "</td>"
                            tabla += "<td>" + data.SLigue[i].time + "</td>"
                            tabla += "</tr>";
                        }
                        tabla += "</tabla>"
                        $("#tbl_matches").empty().html(tabla);
                    },
                    error: function (e1, e2, e3) {
                        alert(e3)
                    }
                });
        });
    });

</script>